html, body{
  box-sizing: border-box;
  font-size: 16px;
  font-family:  sans-serif;
  margin: unset;
}

header{
  display: flex;
  justify-content: space-around;

  button{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-size: 1em;
    cursor: pointer;
    outline: none;
    border-radius: 5px;

    &:hover{
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
  }

  .add-folder{
    text-align: center;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    width: 12%;
    border-radius: 5px;
    position: relative;
    > span{
      line-height: 4;
      cursor: pointer;

    }
    .option{
      position: absolute;
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      width: 170%;
      right: -35%;
      background: lightgrey;

      input{
        outline: none;
        height: 1.6em;
        font-size: 1em;
      }

      span{
        font-size: 0.8em;
        margin-right: 1em;
      }

      .folder-action{
        margin-top: 1em;
        display: flex;
        justify-content: space-evenly;

        span{
          border: 1px solid;
          padding: 5px;
          cursor: pointer;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          border-radius: 5px;
          background: white;
        }
      }
    }
  }
}

nav{
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 1.6em;
  height: 2em;
  padding: 5px;

  > div{
    display: flex;
    span{
      background: lightgrey;
      padding: 8px;
      font-weight: 600;
      text-align: center;
      width: auto;
      cursor: pointer;
      border-right: 2px solid;
    }
  }
}

section{
  display: flex;
  flex-wrap: wrap;
  margin: 1.6em;

  > div{
    margin: 0 20px 20px 0;
    cursor: pointer;

    .folder-name{
      text-align: center;
      font-size: 0.9em;
    }
  }
}
